<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Binding One way and Two way</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>Skills</h3>
      <input type="text" v-model="newSkill" />
      <button @click="addSkill">Add Skill</button>
      <ul>
        <li v-for="(skill, i) in skills" @click="removeSkill(i)">{{skill}}</li>
      </ul>
      <h2>Products</h2>

      <input type="text" v-model="newProduct.name" placeholder="Product Name" />
      <input
        type="text"
        v-model="newProduct.price"
        placeholder="Product Price"
      />
      <button @click="addProduct">Add Product</button>
      <ul>
        <li
          v-for="(product, i) in products"
          @click="removeProduct(i)"
          :key="product.name"
        >
          {{product.name}} ({{product.price}})
          <br />
          <input @click.stop type="text" placeholder="remark" />
        </li>
      </ul>
      <p>
        <template v-for="product in products" :key="skill.name"
          >{{product.name}} ,</template
        >
      </p>
    </div>
    <script src="listRendering.js"></script>
  </body>
</html>
